title #{seo.pageTitle}
meta(name='title', content='#{seo.pageTitle}')
meta(name='description', content='#{seo.description}')
meta(name='keywords', content='#{seo.keywords}')
meta(name='author', content='#{seo.author}')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(property='og:type', content='website')
meta(property='og:site_name', content='#{seo.siteName}')
meta(property='og:url', content='#{seo.url}')
meta(property='og:title', content='#{seo.title}')
meta(property='og:description', content='#{seo.description}')
meta(property='og:image', content='#{seo.image}')
meta(property='twitter:card', content='summary')
meta(property='twitter:url', content='#{seo.url}')
meta(property='twitter:title', content='#{seo.title}')
meta(property='twitter:description', content='#{seo.description}')
meta(property='twitter:image:src', content='#{seo.image}')
script window.firebaseUrl = '#{seo.firebaseUrl}';
